 .header{
        width: 100%;
       	height: 550px;
       	background-image: url(./images/homepage-hero.image.large_2x.jpg);
        background-size:120%;
       	background-repeat:repeat-x;
       	background-position: center 30%;
        margin-bottom:50px;
       }
       .header-frist-1{
        width: 100%;
       	height: 55px;
       	background: black;
       	line-height:55px;
        text-align: center;
       }
       .header-frist-1 span{
        padding-left:10%; 
        color: white;
       }
       .header-frist-2{
       	width: 85%;
       	height: 50px;
       	border-bottom:1px white;
       	line-height: 50px;
       	margin:0px auto;
       	color: white;
       	font-size: 15px;
       }
       .header-frist-2 span{
       	padding-right:80%;
       	color:white;
       	font-size:25px;
       }
       .header-frist-3{
       	width: 60%;
       	height: 120px;
       	margin: 0px auto;
       	color: white;
       	font-size:20px;
       	line-height: 60px;
       	text-align: center;
       	padding-top:50px;
       }
       .header-frist-3 span{
        font-size: 40px;
        text-align: center;
        margin-left:70px;
       }
       .header-frist-4{
       	width: 500px;
       	height:30px;
       	background: white;
       	margin: 0px auto;
        font-size:28px;
        border-bottom:2px solid grey;
        border-radius: 10px;
       }
       .header-frist-4 input{
        width:500px;
        height: 40px;
        font-size:15px;
        padding-top:5px;
        padding-left:5px;
        border-radius:10px;
        border-bottom: 2px solid grey;
        border-right:2px solid grey;
       }
       .header-frist-4 span{
       text-align: left;
       padding-left: 20px;
       line-height: 30px;
       	color: black;
       	font-size: 23px;
       }
       .mainer{
       	height: 3350px;
      }
       .mainer-frist-1{
       	height: 110.9px;
       	font-size:40px;
       	text-align: center;
        line-height: 40px;
        color: black;
       }
       .mainer-frist-2 {
        width:90%;
        height:150px;
        margin:0px auto;
        font-size:15px;
        text-align: center;
        
      }
       .mainer-frist-2 li{
      	width: 15%;
      	height:150px;
        font-size:15px;
        text-align: center;
        float:left;
        list-style: none;
        padding-right: 20px;
        margin:0px auto;
        
      }
      .mainer-frist-2 img{
        width: 68px;
        height: 0px auto;
        margin: 0px auto;
      }
      .mainer-frist-3{
        width: 100%;
        height: 60px;
        text-align: center;
        font-size:20px;
        color: grey;
        border-top:1px solid rgb(222,222,222);
        border-bottom:1px solid rgb(222,222,222);
        line-height: 60px;
        margin-top:50px;
        clear:left;
      }
      .mainer-second-1{
        width: 100%;
        height: 320px;
        font-size:22px;
        margin-top:30px;
        line-height: 40px;
        float:left;
        background-image: url(./images/featured-section-high-sierra-ios11_2x.png);
        background-size:500px;
        background-position: 75%,0%;
        background-repeat: no-repeat;
        border-bottom:1px solid rgb(222,222,222);
      }
      .mainer-second-h1{
        font-size:40px;
        padding-top: 10px;
      }
      .mainer-second-1 span{
        color: blue;
      }
      .mainer-second-text1{
        width: 35%;
        height: 320px;
        padding-left:15%;
        padding-top:50px;
      }
      .mainer-third-3{
        background-image: url(./images/today-at-apple-workshop-banner.image.large_2x.jpg);
        background-repeat: no-repeat;
        background-size:100%;
        font-size: 20px;
        line-height: 30px;
        padding-left:12%;
        padding-top:5%;
        color:white;
      }
      .mainer-third-3 span{
        font-size:40px;
        line-height:50px;
      }
      .mainer-third-text3{
        width: 35%;
        height: 300px;
        padding-top: 20px;
        padding-left:3%;
      }.mainer-second-2{
        width: 450px;
        height: 300px;
        margin-left:18%;
        font-size:20px;
        line-height:40px;
        float:left;
        margin-top:5%;
      }
      .mainer-second-2 span{
        font-size:40px;

      }
      .mainer-second-2img{
        padding-left:8%;
        width: 240px;
        height: 150px;
      }
      .mainer-second-3{
      width: 490px;
      height: 480px;
      font-size: 20px;
      float:left;
      line-height: 40px;
      margin-left:11%;
      margin-top:5%;
      }
      .mainer-second-3 span{
        font-size:40px;
      }
      .mainer-second-3img{
        padding-left:18%;
        width: 240px;
        height: 0px auto;
      }
      .mainer-second-test3{
       clear:left;
      }
      .mainer-third-1{
        width: 48%;
        height: 130px;
        text-align: center;
        font-size:18px;
        margin: 0px auto;
        padding-top:60px;
        overflow:hidden;
        line-height: 30px;
        border-top:1px solid rgb(222,222,222);
      }
      .mainer-third-1 span{
        font-size: 30px;
      }
      .mainer-third-2{
        width: 48%;
        height:80px;
        font-size:18px;
        text-align: center;
        margin-top:50px;
        margin: 0px auto;
      }
      .mainer-third-3{
        margin-top:50px;
        width: 89%;
        height: 400px;
      }
      .mainer-forth-1{
        width: 30%;
        height:500px;
        margin-left:13%;
        font-size:18px;
        float:left;
        line-height: 38px;
        margin-top:50px;
        padding-top:5%;
        }

        .mainer-forth-img1{
          width: 80%;
          height: 0px auto;
        }
        .mainer-forth-1 span{
          font-size: 30px;
        }
        .mainer-forth-2{
        width: 28%;
        height:500px;
        margin-left:10%;
        font-size:18px;
        float:left;
        line-height: 38px;
        margin-top:60px;
        padding-top:5%;
        }
        .mainer-forth-img2{
          width:80%;
          height: 0px auto;
        }
        .mainer-forth-2 span{
          font-size: 30px;
        }
        .mainer-forth-3{
          width: 80%;
          height: 220px;
          padding-left: 17%;
          background-size: 10%;
          background-position:1300px;
          background-image:url(./images/featured-content-security_2x.png);
          font-size:23px;
          clear: left;
          background-repeat:no-repeat;
          line-height: 35px;
          border-top:1px solid grey;
          border-bottom:1px solid rgb(222,222,222);
          padding-top:100px;

        }
        .mainer-forth-3 span{
          font-size: 35px;
        }
        .mainer-forth-4{
          width: 100%;
          height: 120px;
          font-size:18px;
          text-align: center;
          line-height: 40px;
          padding-top:40px;
         border-top:1px solid grey;
          border-bottom:1px solid rgb(222,222,222);
        }
        .mainer-forth-4 span{
          font-size:30px;
        }
        .mainer-forth-5{
          width: 100%;
          height: 140px;
          font-size:18px;
          text-align: center;
          padding-top:100px;
          line-height: 40px;
          padding-top:40px;
          border-top:1px solid rgb(222,222,222);
          border-bottom:1px solid rgb(222,222,222);
        }
        .mainer-forth-5 span{
          font-size:35px;
        }
        .mainer-forth-6{
          width: 100%;
          height: 350px;
          font-size:18px;
          text-align: center;
          padding-top:100px;
          line-height: 35px;
          padding-top:50px;
          border-top:1px solid rgb(222,222,222);
        }
        .mainer-forth-6 span{
          font-size:35px;
        }
        .footer{
          height: 400px;
          background: #F2F2F2;
        }
        .footer-frist-1{
          width: 70%;
          height: 300px;
          font-size:10px;
          line-height: 15px;
          border-color: black;
          table-layout: fixed;
          margin-left:15%;
        }
        .footer-frist-1 span{
          font-size: 15px;
          color:grey;
        }
        .footer-frist-td1 span{
          padding-left:50px;
          font-size:15px;
        }
        .footer-frist-2{
          width: 50%;
          height: 30px;
          line-height: 30px;
          margin-left:15%;
          font-size:10px;
        }
        .footer-frist-3{
          width: 75%;
          margin-left:11%;
        }
        .footer-frist-2 a:hover{
          color:#0070c9;
          text-decoration: underline;
        }
        .footer-frist-3 li{
          float:left;
          list-style:none;
          font-size:10px;
          margin-left:1%;
        }
        .footer-frist-3 li:hover{
          color: #555;
          text-decoration:underline;
        }
        .footer-frist-3 span{padding-left:500px;}
        .footer-frist-3 img{width: 23px;height: 0px auto;}
        a:hover{
         text-decoration: underline;
         color:#0070c9;
        }
        a{
          color:#0070c9;
        }
        .footer-frist-1{
          color:#555; 
        }
        .footer-frist-1 a{
          color:#555;
        }

       @media screen and (max-width:1405px){
        .mainer-frist-2ul{margin:0px auto; }
        .mainer-frist-2 li{width: 13%;padding-left: 1%}
        .header-frist-2{font-size:10px;}
        .header-frist-3{font-size:20px;}
        .mainer-frist-1{font-size: 30px;}
        .mainer-frist-3{font-size: 20px;}
        .mainer-second-1{font-size:20px;background-size:300px;}
        .mainer-second-h1{font-size:30px;}
        .mainer-secong-2{font-size:20px;line-height: 28px;float:left;}
        .mainer-second-2 span{font-size:30px;}
        .mainer-second-2img{width: 300px;height: 0px auto;}
        .mainer-second-3{font-size: 20px;height:400px;line-height: 28px;padding-left:20px;float:left;margin-left:20px;margin-top:100px;line-height: 40px;}
        .mainer-second-3 span{font-size:30px;}
        .mainer-second-3img{width: 180px;height: 0px auto;}
        .mainer-third-1{height: 180px;clear:left;}
        .mainer-third-2{height: 120px;clear:left;}
        .mainer-third-3 span{font-size:30px; }
        .mainer-third-3{font-size:20px;height: 340px;}
        
        .mainer-forth-img1{width: 100%;}
        .mainer-forth-img2{width: 100%;}
        }
         @media screen and (max-width:1068px){
          .header-frist-1{}
          .mainer-frist-2{float:left;height: 500px;}
          .mainer-frist-2{margin-left:120px;height: 300px;}
          .mainer-frist-2 li{width: 200px;}
          .mainer-second-1{background-position: 300px 180px;height: 450px;background-size: 400px;}
          .mainer-second-text1{width: 75%;text-align: center;font-size:20px;line-height: 35px;}
          .mainer-second-2{width: 80%;height:240px;margin-left:100px;}
          .mainer-seccond-img2{padding-left:1%;}
          .mainer-second-3{width: 80%;height: 400px;margin-left:100px;}
          .mainer-second-text3{width: 80%;}
          .mainer-second-img3{float:left;padding-left:50px;}
          .mainer-third-1{width: 75%;}
          .mainer-third-2{width: 75%;}
          .mainer-third-3{background-size:120%;}
          .mainer-third-text3{font-size:18px;width:50%; }
          .mainer-third-3 span{font-size:30px;}
          .mainer-forth-2{width: 35%;margin-top:18px;}
         }
         @media screen and (max-width:755px){
          .header{height: 520px;}
          .header-frist-1{font-size:15px;}
          .mainer-frist-2 li{width: 150px;height: 150px;}
          .header-frist-3{width: 80%;margin-top:200px;font-size:18px;color:black;text-align: center;line-height: 40px;padding-top:60px;height: 95px;}
          .header-frist-3 span{font-size:25px;}
          .header-frist-4{width: 350px;}
          .header-frist-4 input{width:350px;}
          .mainer-frist-2{height: 580px;margin-left:50px;}
          .li6{float:left;}
          .li7{clear;left;}
          .mainer-frist-1{height: 60px;margin-left:80px;}
          .mainer-second-1{background-position:100px 200px;}
          .mainer-second-2{width: 90%;margin:5%;height: 330px;}
          .mainer-second-img2{padding-left:100px;}
          .mainer-second-3{width: 90%;margin:5%;height: 380px;}
          .mainer-second-text3{width: 100%;}
          .mainer-third-text3{margin-top:200px;color: black;width: 90%;margin-left:0px;padding-left:0px;line-height: 30px;}
          .mainer-third-3{height: 400px;}
          .mainer-forth-1{clear:left;width: 90%;height: 350px;margin-left:30px;font-size:18px;}
          .mainer-forth-1 span{font-size:25px;}
          .mainer-forth-img1{width: 60%;height: 0px auto;padding-left:60px;}
          .mainer-forth-2{clear:left;width: 90%;height: 380px;margin-left:30px;font-size:18px;}
           .mainer-forth-2 span{font-size:25px;}
          .mainer-forth-img2{width: 60%;height: 0px auto;padding-left:60px;}
          .mainer-forth-3{margin-left:0px;background-position: 900px 0px;width: 95%;padding-left:10px;height: 150px;font-size:15px;}
          .mainer-forth-4 span{font-size:25px;}
          .mainer-forth-4{font-size:15px;}
          .mainer-forth-5 span{font-size:25px;}
          .mainer-forth-5{font-size:15px;}
          .mainer-forth-6{font-size:15px;}
          .mainer-forth-6 span{font-size:23px;}
          .footer-frist-1{line-height: 25px;}
          .footer-frist-2{height:80px;}
          .footer-frist-3 span{padding-left:100px;}
          .footer-frist-3{width: 100%;margin-left:20px;}
         }
	